<template name="enroll">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <br><br>
                <h4>Welcome {{$.Session.get 'enrollingUserName'}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{>atForm}}
            </div>
        </div>
    </div>
</template>