<template name="header">
    <nav id="header" class="navbar navbar-default" role="navigation">
        <!--{{#if currentUser}}-->
            <!--<button class="btn btn-link pull-left toggle-nav no-print"><icon class="fa fa-bars fa-2x no-print"></icon></button>-->
        <!--{{/if}}-->
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/images/ftclogo.png"/> &nbsp; Friend That Cooks, LLC. Time Tracker</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse no-print" id="mainMenu">
                <ul class="nav navbar-nav navbar-right no-print">
                    {{#if currentUser}}
                        <li><a id="userDisplayName">{{getCurrentUserDisplayName}}</a></li>
                        <li><a href="#" id="signOut">Sign Out</a></li>
                    {{/if}}
                    {{#if isAdmin}}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Admin <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{pathFor 'addUser'}}">Add User</a></li>
                                <li><a href="{{pathFor 'users'}}">Manage Users</a></li>
                                <li><a href="{{pathFor 'cities'}}">Cities</a></li>
                            </ul>
                        </li>
                    {{/if}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>