.navbar-brand {
  padding: 3px 15px;
}
#mainNav {
  position: absolute;
  height: 100%;
  width: 400px;
  background: #902100;
  left: -400px;
  z-index: 999;
  transition: all 600ms;
}
#mainNav.open {
  left: 0;
  transition: all 600ms;
}
.page-wrapper {
  transition: all 600ms;
  left: 0px;
  position: relative;
}
.page-wrapper.open {
  left: 400px;
  transition: all 600ms;
}
nav#header .btn-link {
   color: #BA3100;
}
nav#header .btn-link:hover, #mainNav .btn-link:focus {
  color: #902100;
}
@media (max-width: 600px) {
  .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 469px) {
  .navbar-brand {
    font-size: 15px;
  }
}
@media (max-width: 390px) {
  .navbar-brand {
    font-size: 3px;
    visibility: hidden;
  }
}