<head>
    <title>Time Sheets</title>
</head>

<template name="mainLayout">
    {{> yield region='mainNav'}}
    <div class="page-wrapper">
        {{> yield region='header'}}
        <div id="content-wrapper" class="container">
            {{> yield}}
        </div>
        {{> yield region='footer'}}
    </div>
</template>
