.at-error.alert {
   display: none;
}

.shiftBtn {
  display: block;
  width: 100%;
  margin: 15px 0;
  h3 {
    margin: 8px 0;
  }
}
.btn-ftc {
  background: #BA3100;
  color: #fff;
}
.btn-ftc:hover {
  background: #9b2900;
  color: #fff;
}
.btn-ftc a {
  color: #fff;
}
.btn-ftc a:hover {
  text-decoration: none;
}
.btn-link, a.fc {
  color: #BA3100;
}
.btn-link:hover, .btn-link:focus, a.fc:hover, a.fc:focus {
  color: #902100;
}
h3.shift-time {
  text-align: center;
  background: #BA3100;
  line-height: 1.5em;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.04em;
}
div.shift-table {
  border: 1px solid #912600;
  padding-left: 0;
  padding-right: 0;
  margin: 8px 0;
}
p.lighter {
  color: #777;
}
@media (max-width: 720px) {
  h2 {
    font-size: 25px;
  }
}