<template name="addUser">
    <h2>Add User</h2>
    {{#autoForm collection="Users" doc=this id="insertUserForm" type="method" meteormethod="addUser"}}
        <div class="form-group col-xs-12">
            <label for="check-number">First Name</label>
            {{> afFieldInput name='profile.firstName' id='first-name' value=profile.firstName}}<br>
            <label for="check-number">Last Name</label>
            {{> afFieldInput name='profile.lastName' id='last-name' value=profile.lastName}}<br>
            <label for="check-number">Username / Email</label>
            {{> afFieldInput name='emails.0.address' id='email-address' value=emails.[0].address}}<br>
            {{> afFieldInput name='emails.0.verified' id='email-verified' type="hidden" value=true}}
            <label for="check-number">Deposit Card # (last 4 digits)</label>
            {{> afFieldInput name='profile.depositCard' id='deposit-card' placeholder='####' value=profile.depositCard}}<br>
            <label for="role">City</label>
            {{> afFieldInput name='profile.city' id='city' value=profile.city}}<br>
            <label for="role">Role</label>
            {{> afFieldInput name='profile.roles' id='role' value=profile.roles}}<br>
            <label for="password">Password</label>
            {{> afFieldInput name='profile.password' id='password' value=profile.password}}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    {{/autoForm}}
</template>