<template name="cities">
    <h1>Cities</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <td><b>City</b></td>
                <td><b>Regular Rate</b></td>
                <td><b>Prime Rate</b></td>
            </tr>
            </thead>
            <tbody>
            {{#each Cities}}
                <tr>
                    <td>{{ City }}</td>
                    <td>{{ regRate }}</td>
                    <td>{{ primeRate }}</td>
                    <td><a class="text-success" href="#">edit</a> &nbsp; <a class="text-danger delete" id={{ _id }} href="#">Delete</a></td>
                </tr>
            {{/ each}}
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        <button class="pull-right btn btn-ftc"><a href="{{pathFor 'ratesForm'}}">Add City <i class="fa fa-plus"></i></a></button>
    </div>
</template>