<template name="editUser">
    <a href="{{pathFor 'users'}}"><i class="fa fa-arrow-left"></i> Back</a>
    <h2>Edit User - {{profile.firstName}} {{profile.lastName}}</h2>
    {{#autoForm collection="Users" doc=this id="updateUserForm" type="method-update" meteormethod="updateUser"}}
        <div class="form-group col-xs-12">
            <label for="check-number">First Name</label>
            {{> afFieldInput name='profile.firstName' id='first-name' value=profile.firstName}}<br>
            <label for="check-number">Last Name</label>
            {{> afFieldInput name='profile.lastName' id='last-name' value=profile.lastName}}<br>
            <label for="check-number">Username / Email</label>
            {{> afFieldInput name='emails.0.address' id='email-address' value=emails.[0].address}}<br>
            {{> afFieldInput name='emails.0.verified' id='email-verified' type="hidden" value=true}}
            <label for="check-number">Deposit Card # (last 4 digits)</label>
            {{> afFieldInput name='profile.depositCard' id='deposit-card' value=profile.depositCard}}<br>
            <label for="role">City</label>
            {{> afFieldInput name='profile.city' id='city' value=profile.city}}<br>
            <label for="roles">Role</label>
            {{> afFieldInput name='profile.roles' id='roles' value=profile.roles}}<br>
            <label for="password">Password</label>
            {{> afFieldInput name='profile.password' id='password' value=profile.password}}
            <input type="hidden" name="id" id="id" value="{{this._id}}"/>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    {{/autoForm}}
</template>