<template name="home">
    <div class="col-xs-12">
        <h3 class="text-center" id="this-day"><button id="prev-day" class="btn btn-link" data-today="{{today}}"><i class="fa fa-angle-left fa-2x"></i></button> {{today}} <button id="next-day" class="btn btn-link" data-today="{{today}}"><i class="fa fa-angle-right fa-2x"></i></button></h3>
        <div class="shiftForm panel-group" id="shift-collapse" role="tablist">
        {{#each todayShifts}}
        <!--<a href="{{pathFor 'shift'}}"><button class="btn btn-primary shiftBtn"><h3>{{TimePeriod}}</h3></button></a>-->

        <!--<br>-->
        <br>
            {{> shift}}
        <br>
        {{/each}}
        </div>
        <hr>
        <div class="text-center">
            <br>
            <a class="fc" href="/week/{{weekOf}}">
                Weekly Summary<br>
                <i class="fa fa-2x fa-table"></i>
            </a>
            <br>
            <br>
            <br>
            {{#if isAdmin}}
                <button class="btn btn-ftc"><a href="{{pathFor 'addUser'}}">Add User</a></button>
                <button class="btn btn-ftc"><a href="{{pathFor 'users'}}">Manage Users</a></button>
            {{/if}}
        </div>
    </div>
</template>
