<template name="ratesForm">
    {{#autoForm collection="Rates" id="insertRatesForm" type="insert"}}
        <fieldset>
            <legend>Add a City</legend>
            {{> afQuickField name='City'}}
            <div class="form-group{{#if afFieldIsInvalid name='Regular'}} has-error{{/if}}">
                <label>Regular Rate</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{> afFieldInput name='Regular'}}
                </div>
                {{#if afFieldIsInvalid name='Regular'}}
                    <span class="help-block">{{afFieldMessage name='Regular'}}</span>
                {{/if}}
            </div>
            <div class="form-group{{#if afFieldIsInvalid name='Prime'}} has-error{{/if}}">
                <label>Prime Rate</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{> afFieldInput name='Prime'}}
                </div>
                {{#if afFieldIsInvalid name='Prime'}}
                    <span class="help-block">{{afFieldMessage name='Prime'}}</span>
                {{/if}}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button> &nbsp; <button class="btn btn-ftc cancel">Cancel</button>
    {{/autoForm}}
</template>