<template name="shift" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-primary">
        <a data-toggle="collapse" data-parent="#shift-collapse" href="#shift{{_id}}">
        <div class="panel-heading" role="tab" id="shift{{_id}}-heading">

                <h4 class="text-center">{{TimePeriod}}</h4>
                <!--<h4 id="this-day" class="pull-right">{{fullDate Day}}</h4>-->

            <div class="clearfix"></div>
        </div>
        </a>
        <div id="shift{{_id}}" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                {{#autoForm collection="Shifts" doc=this id=shiftFormId type="update"}}
                    <div class="bootstrap-timepicker form-group col-xs-12 col-sm-6">
                        <label for="arrive-time">Arrive Time</label>
                        {{> afFieldInput name='ArriveTime' id=shiftArriveTime class="timepicker-precise arrive" value=ArriveTime}}
                    </div>
                    <div class="bootstrap-timepicker form-group col-xs-12 col-sm-6">
                        <label for="depart-time">Depart Time</label>
                        {{> afFieldInput name='DepartTime' id=shiftDepartTime class="timepicker-precise depart" value=DepartTime}}
                    </div>
                    <div class="clearfix visible-md-block"></div>
                    <div class="col-xs-12">
                        <label>Total Time</label>
                        <p id="total-time"><b>{{totalTime}} Hours</b></p>
                    </div>
                    <div class="col-xs-12">
                        {{> afQuickField name="HourlyRate" id=shiftRate class="rateSelect"}}
                    </div>
                    <div class="col-xs-12">
                        <label>Amount Due</label>
                        <p id="amount-due" class="lead"><b>{{amountDue}}</b></p>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="check-amount">Total Charge</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            {{> afFieldInput name='TotalCharge' id="total-charge" placeholder="0.00" value=TotalCharge}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="check-number">Form of Payment</label>
                        {{> afFieldInput name='FormOfPayment' id="payment-form" noselect=true value=FormOfPayment}}
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="check-number">Check/Reference Number</label>
                        {{> afFieldInput name='CheckNumber' id="check-number" value=CheckNumber}}
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="tip-amount">Tip Amount</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            {{> afFieldInput name='TipAmount' id="tip-amount" placeholder="0.00" value=TipAmount}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="holding-fee">Holding Fee</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            {{> afFieldInput name='HoldingFee' id="holding-fee" placeholder="0.00" value=HoldingFee}}
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="customer-notes">Notes</label>
                        {{> afFieldInput name='CustomerNotes' type="textarea" rows="4" id="customer-notes" value=CustomerNotes}}
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>