<template name="timeSection">
    <h2>{{ sectionDate -1}}</h2>
    {{ sectionShift 0}}<br>
    {{ sectionShift 1}}<br>
    {{ sectionShift 2}}<br>
    <h2>{{ sectionDate }}</h2>
    {{ sectionShift 0}}<br>
    {{ sectionShift 1}}<br>
    {{ sectionShift 2}}<br>
    <h2>{{ sectionDate 1}}</h2>
    {{ sectionShift 0}}<br>
    {{ sectionShift 1}}<br>
    {{ sectionShift 2}}<br>
    <h2>{{ sectionDate 2}}</h2>
    {{ sectionShift 0}}<br>
    {{ sectionShift 1}}<br>
    {{ sectionShift 2}}<br>
</template>