<template name="userReport">
    <h2>Weekly Report - {{Employee.profile.firstName}} {{Employee.profile.lastName}}</h2>
    <h2 class="text-center"><button id="prev-week" class="btn btn-link" data-week="{{week}}"><i class="fa fa-angle-left fa-2x"></i></button> {{ endOfWeek }} <button id="next-week" class="btn btn-link" data-week="{{week}}"><i class="fa fa-angle-right fa-2x"></i></button></h2>
    {{!-- Week ending date --}}
    <div class="container">
        <div class="col-xs-12">
                <p><b>Total Time:</b></p>
                <p>{{!-- regular hours --}} hours at regular rate {{#each regularHours}}
                {{ Day}}
                    {{/each}}
                </p>
                <p>{{!-- prime hours --}} hours at prime rate</p>
        <hr>
                <p><b>Amount Due:</b></p>
                <p>{{!-- amount due --}}</p>
        <hr>
                <p><b>Tips:</b></p>
                <p>{{!-- tips --}}</p>
        <hr>
                <p><b>Holding Fee:</b></p>
                <p>{{!-- holding fee --}}</p>
        <hr>
                <p><b>Total Charge:</b></p>
                <p>{{!-- total charge --}}</p>
        </div>
    </div>
    {{#each Shifts}}
        {{TimePeriod}}<br>
        {{formatWeek WeekOf}}<br>
        {{Day}}<br>
    {{/each}}
</template>