<template name="users">
    <h2>Users</h2>
    <ul class="list-group">
        {{#each users}}
            <li class="list-group-item">
            <span class="col-xs-12">{{ profile.firstName }} {{ profile.lastName }}
                <span class="pull-left">
                    <a class="text-success" href="{{pathFor 'editUser'}}">Edit</a> &nbsp;
                    <a class="text-danger delete" id={{ _id }} href="#">Delete</a> &nbsp;
                    <a href="#" class="impersonate text-primary">Impersonate</a> &nbsp;
                </span>
                <span class="pull-right"><a href="{{pathFor 'userReport'}}">View Report <i class="fa fa-bar-chart"></i></a></span>
            </span>
            <div class="clearfix"></div>
            </li>
        {{/each}}
    </ul>

</template>