<template name="week">
    <div>
        {{#each thisWeeksShifts}}
            <div class="col-xs-12 shift-table">
                <h3 class="text-center">{{day Day}} - {{fullDate Day}}</h3>
                <h3 class="shift-time">{{TimePeriod}}</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Arrive Time:</td>
                            <td>{{ArriveTime}}</td>
                        </tr>
                        <tr>
                            <td>Depart Time:</td>
                            <td>{{DepartTime}}</td>
                        </tr>
                        <tr>
                            <td>Total Time:</td>
                            <td>{{totalTime}}</td>
                        </tr>
                        <tr>
                            <td>Check Number:</td>
                            <td>{{CheckNumber}}</td>
                        </tr>
                        <tr>
                            <td>Check Amount:</td>
                            <td>$ {{CheckAmount}}</td>
                        </tr>
                        <tr>
                            <td>Tip Amount:</td>
                            <td>$ {{TipAmount}}</td>
                        </tr>
                        <tr>
                            <td>Holding Fee:</td>
                            <td>$ {{HoldingFee}}</td>
                        </tr>
                    </tbody>
                </table>
                <form class="form">
                    <div class="form-group">
                        Deposit Verified
                        <div class="input-group">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="text-center">
        <br>
        <a class="fc" href="{{pathFor route='home'}}">
            Add Shifts<br>
            <i class="fa fa-2x fa-bars"></i>
        </a>
    </div>
</template>